.search_school{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/main-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 13rem;
    padding-bottom: 13rem;
    justify-content: center;
}

.list{
    width: 40%;
    padding-left: 0 !important;
}

.schoolLi{
    font-size: large;
    padding: 5px;
    cursor: pointer;
    list-style-type: none;
    background-color: white;
}


  
  