.main_schoolPage{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.rev_input{
    border: black solid 1px;
    border-radius: 10px;
    padding-right: 100px;
}

input{
    font-size: medium;
}

.form_btn{
    background-color: #5CABDF;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.school p{
    font-size: x-large;
    font-weight: bold;
    
}

.school{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/main-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 12rem;
    /* padding-bottom: 12rem; */
    color: white;
}

.formForRev{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.allReview{
    display: flex;
    align-items: center;
    justify-content: center;
}

.review{
    width: 45%;
    padding: 40px;
}

.score{
    background-color: #36d855;
    max-width: 40px;
    padding: 10px;
    border-radius: 5px;
}