.main_schoolPage{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.rev_input{
    border: black solid 1px;
    border-radius: 10px;
    padding-right: 100px;
}

input{
    font-size: medium;
}

.form_btn{
    background-color: #5CABDF;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.school p{
    font-size: x-large;
    font-weight: bold;
    
}

.school{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/main-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 12rem;
    /* padding-bottom: 12rem; */
    color: white;
}

.formForRev{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* .allReview{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.review{
    width: 45%;
    padding: 40px;
}

.score{
    background-color: #36d855;
    max-width: 30px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
} */

.reviewCommit p{
    word-wrap: break-word;
}

/* .AllScore{
    padding-bottom: 10px;
} */

input[type=radio]{
    display: none;
}

.star{
    cursor: pointer;
}




.main_review {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-item {
    width: 70%; /* Примерная ширина отзыва */
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center; /* Позволяет выравнивать элементы по центру вертикально */
    background-color: #f4f4f4; /* Нежно-серый цвет фона для отзывов */
    border-radius: 10px; /* Закругление краев */
    padding: 10px; /* Поля вокруг отзыва */
}

.score {
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* Отступ справа для разделения оценки от отзыва */
}

.review {
    flex: 1; /* Растягивает блок с отзывом на всю доступную ширину */
}

.rating-4,
.rating-5 {
    background-color: green; /* Оценка 4-5: зеленый фон */
}

.rating-3 {
    background-color: yellow; /* Оценка 3: желтый фон */
}

.rating-1,
.rating-2 {
    background-color: red; /* Оценка 1-2: красный фон */
}


.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-item {
    width: 70%; /* Примерная ширина отзыва */
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center; /* Позволяет выравнивать элементы по центру вертикально */
}

.score {
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* Отступ справа для разделения оценки от отзыва */
}

.review {
    flex: 1; /* Растягивает блок с отзывом на всю доступную ширину */
}

.rating-4,
.rating-5 {
    background-color: green; /* Оценка 4-5: зеленый фон */
}

.rating-3 {
    background-color: yellow; /* Оценка 3: желтый фон */
}

.rating-1,
.rating-2 {
    background-color: red; /* Оценка 1-2: красный фон */
}
