/* .school_item{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.school_card{
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: grey solid 1px;
}

.about_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.school_card img{
    width: -webkit-fill-available;
} */


.schoolItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    cursor: pointer;
    max-width: 20%;
    min-width: 250px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.schoolItem img{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 70%;
}

.aboutItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}