.school_map{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.school_list{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}