.task{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: auto;
    justify-content: space-between;
    width: 768px;
}

.body_task{
    width: 300px;
}

.body_task p{
    padding-top: 5px;
    font-size: 18px;
}